  <h1>{{message}}</h1>
    <div>
        <form> 
            <fieldset>

                <legend>details</legend>
                <label for="name">enter your name : </label>
                <input type="text" id="name" name="name" placeholder="example::vismay">
                <br><br>

                <label for="email">enter your email : </label>
                <input type="email" id="email" name="email" placeholder="ABC@gamil.com">
                <br><br>

                <label for="telephone">enter your phone number : </label>
                <input type="tel" id="telephone" name="tphone" value="91" placeholder="91-000-000-0000">
                <br><br>

                <label for="files">Resume : </label>
                <br>
                <input type="file" id="files" name="files">
                <br><br>

                <label for="numbers">experience : </label>
                <br>
                <input type="number" id="numbers" name="numbers" min="0" max="50" value="-1">

                <br><br>

                <fieldset>
                    <legend>skills</legend>
                    <label for="box1">HTML : </label>
                    <input type="checkbox" id="box1" name="box1">
                    <br><br>
                    <label for="box2">CSS : </label>
                    <input type="checkbox" id="box2" name="box2">
                    <br><br>
                    <label for="box3">REACT : </label>
                    <input type="checkbox" id="box3" name="box3">
                </fieldset>

                <br><br>

                <label for="education">Higher Education : </label>
                <br>
                <select name="education" id="education">
                    <option value="none">none</option>
                    <option value="waste of money">BBA</option>
                    <option value="waste of time">MBBS</option>
                    <option value="useless">enginnering</option>
                    <option value="no value">BCom</option>
                </select>
                <br>
                <br>

                <fieldset>
                    <legend>availability</legend>
                    <label for="vv">full time : </label>
                    <input type="radio" id="vv" name="vv">
                    <br>
                    <label for="vx">part time : </label>
                    <input type="radio" id="vx" name="vv">
                </fieldset>

                <br><br>

                <label for="chave">additional comments : </label>
                <br>
                <textarea name="chave" id="chave" cols="30" rows="10" placeholder="enter your text here">fucker</textarea>
                <br>
                <br>

                <input type="image" id="cc" name="cc" height="50" width="50" src="44518204-submit-icon.webp" alt="submit">

            </fieldset>

            
        </form>                                                                                 
    </div>