<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather report</title>
</head>

<body>

    <h1 >Weather report</h1>

    <form>
        <label for="fname">place:</label><br>
        <input type="text" id="fname" placeholder="enter the city.."><br>
        <button>search</button> 

    </form>

    <br>

    <textarea id="myTextarea" name="myTextarea" rows="4" cols="50"></textarea>

    <script src="/js/lawda.js"></script>



</body>

</html>